@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  color: #053257;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

header{
  border-bottom: 1px solid #053257;
  height: 10vh;
  display:flex;
}

#logo {
    width: 20vw;
    height: 10vh;
    display: flex;
    align-items: center;
}

#logo img {
    width: 3rem;
    margin-right: 1rem;
}

#display {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #053257;
}

#user {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.7rem;
}

main {
  background-attachment: fixed;
    margin: 2rem 2rem;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#notes {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 20rem;
    height: 20rem;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #021f36;
    margin: 1rem;
    display: absolute;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  color: #053257;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #053257;
    
}

.card a {
  text-decoration: none;
}

.card a:hover {
  background-color: #0b5ed7;
}

#modal-view, #modal {
    border: 1px solid #053257;
    position: absolute;
    padding: 1rem;
    width: 90vw;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #053257;

}
#modal-view{
  background-color: #f0f0f0;
}
#controls-note{
  color: #053257;
  display:flex;
  gap:10px;
  cursor: pointer;
}

#close-modal {
    background-color: transparent;
    border: none;
    color: #053257;
    font-size: 1.5rem;
    cursor: pointer;

}